In [3]:
!pip install opendatasets
import opendatasets as od

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from opendatasets) (4.66.5)
Collecting kaggle (from opendatasets)
  Downloading kaggle-1.7.4.2-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.12/site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2025.1.31)
Requirement already satisfied: charset-normalizer in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (3.7)
Requirement already satisfied: protobuf in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (4.25.3)
Requirement already satisfied: python-dateutil>=2.5.3 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (75.1.0)
Requirement already satisfied: six>=1.10 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: text-unidecode in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (2.2.3)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.12/site-packages (from kaggle->opendatasets) (0.5.1)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from bleach->kaggle->opendatasets) (24.1)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Downloading kaggle-1.7.4.2-py3-none-any.whl (173 kB)
Installing collected packages: kaggle, opendatasets
Successfully installed kaggle-1.7.4.2 opendatasets-0.1.22

In [7]:
dataset = od.download('https://www.kaggle.com/datasets/fredericobreno/play-tennis?select=play_tennis.csv')

Skipping, found downloaded files in "./play-tennis" (use force=True to force download)

In [31]:
import pandas as pd

In [33]:
df = pd.read_csv('play-tennis/play_tennis.csv')

In [35]:
df.sample(5)

    day   outlook  temp humidity    wind play
12  D13  Overcast   Hot   Normal    Weak  Yes
0    D1     Sunny   Hot     High    Weak   No
13  D14      Rain  Mild     High  Strong   No
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes

In [37]:
df.drop(columns = 'day', inplace= True)

In [39]:
df.sample(5)

  outlook  temp humidity    wind play
9    Rain  Mild   Normal    Weak  Yes
4    Rain  Cool   Normal    Weak  Yes
0   Sunny   Hot     High    Weak   No
7   Sunny  Mild     High    Weak   No
1   Sunny   Hot     High  Strong   No

In [41]:
pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [51]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

data = load_iris()
X = data.data
y = data.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = GaussianNB()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.9777777777777777

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       1.00      0.92      0.96        13
           2       0.93      1.00      0.96        13

    accuracy                           0.98        45
   macro avg       0.98      0.97      0.97        45
weighted avg       0.98      0.98      0.98        45

In [ ]:
for i in range(1, 15):
    knn = KNNeighbors(K = i)
    knn.fit(X_train, y_train)